.geneLink {
    color: #606060;
    text-decoration: none;
    background-color: #ffffff00;
    border: 1px solid #606060;
    border-radius: 12px;
    padding: 10px;
    padding-bottom: 5px;
}

.geneLink:hover {
    background-color: rgb(242, 242, 242);
    transition: all 0.3s ease;
}

.download {
    justify-content: right;
    text-align: right;
    margin: 10px;
}